.Sudoku-board {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    min-height: 18em;
    min-width: 18em;
    border: 2px solid white;
}

.Row:nth-child(3n) {
    border-bottom: 2px solid white;
}

.Row:nth-child(1) {
    border-top: 2px solid white;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Cell:nth-child(9n-8) {
    border-left: 2px solid white;
}

.Cell:nth-child(3n) {
    display: flex;
    justify-content: center;
    font-size: 1em;
    min-height: 1.5em;
    min-width: 2em;
    border-right: 2px solid white;
}

.Cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    min-height: 2em;
    min-width: 2em;
    border: 1px solid rgb(60, 61, 61);
    background-color: rgb(88, 88, 88);
    color: #282c34;
}

.selected {
    background-color:rgb(130, 168, 173)
}